<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>What should we do next ?</title>
</head>
<body>
    <div class="header">
        <div>
            <h1>What should we do <span id="next">next</span> ?</h1>
            <button>log in</button>
        </div>
    </div>
    <div id="main-page">
        <div>
            <h1>Plan it the way you can project yourself, in <span id="qualify-future">a quite distant future</span>.</h1>
        </div>
        <div id="planning-illustration-div">
            <img id="planning-illustration" src="" alt="planning">
        </div>
    </div>
</body>
</html>